
$tablet-maxwidth: 959px;
$tablet-minwidth: 768px;
$phablet-maxwidth: 767px;
$phablet-minwidth: 480px;
$phone-maxwidth: 479px;


// Box-sizing
@mixin bs($bs-type: border-box){
	-webkit-box-sizing: $bs-type;
	-moz-box-sizing: $bs-type;
	box-sizing: $bs-type;
}

// Media Queries
@mixin MQ($dev-type){
	/* Smaller than standard 960 (devices and browsers) */
	@if $dev-type == tablet {
		@media only screen and (max-width: 959px) {
			@content;
		}		
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@else if $dev-type == tablet-downlimit {
		@media only screen and (min-width: 768px) and (max-width: 959px) {
			@content;
		}
	}
	/* All Mobile Sizes (devices and browser) */
	@else if $dev-type == phablet {
		@media only screen and (max-width: 767px) {
			@content;
		}
	}
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@else if $dev-type == phablet-downlimit {
		@media only screen and (min-width: 480px) and (max-width: 767px) {
			@content;
		}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@else if $dev-type == mobile {
		@media only screen and (max-width: 479px) {
			@content;
		}
	}
}

@mixin oval($radius:0,$vendor-prefix:(webkit, moz, o, ms)){
	@each $vendor in $vendor-prefix{
		-#{$vendor}-border-radius: $radius;
	}
	border-radius: $radius;
}

@mixin hide-text(){
	line-height: 0; 
    font-size: 0;
    color: transparent;
}


	

	