
hgroup.meet-aalam{
	h1{
		font-size: 7em;
		@include MQ(phablet){
			font-size: 6em;
		}
		@include MQ(mobile){
			font-size:4em;
			margin:0em !important;
		}
	}

	h4{
		@include MQ(mobile){
			text-align:center;
			font-size:1.6em;
			margin-bottom:0;
		}
	}
}