
/* Subtle Anchor */
.subtle-anchor{
	font-size:1.2em;
    font-weight: 700;
    font-family:"League-Gothic","Georgia","Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform:uppercase;
    font-weight:normal;
    text-shadow: 0 -1px 0 #888;
    text-decoration:none;
    background-color: red;
	padding: 2px 8px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;

    &:hover, &:focus{
        transform: scale(0.9);
        text-shadow:2px 2px 2px black;
        color:white;
        background-color: #7279D8;
    }
    &:visited, &:active{

    }
    &::before{
        color: #fff;
        content: attr(data-hover);
        position: absolute;
        transition: transform 0.3s, opacity 0.3s;
    }
}

body{
    /*background-color: $bg-color ;*/
}
section{
    background-color:white;
}

/** Hero text **/

hgroup.meet-aalam{
    text-align:center;
    left:0;
    right:0;
    bottom:15%;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
}

hgroup.meet-aalam img{
    @include oval(50%);
    height: 150px;
    margin-bottom:7%;
    background-color: hsl(0, 0%, 75%);
    border:2px solid silver;
}
hgroup.meet-aalam h1, hgroup.meet-aalam h4{
    margin:0;
}

hgroup.meet-aalam h1{
    font-family:"Alegreya-Regular","Georgia","Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size :6em ;
    color : white ;
    text-shadow:1px 1px 1px #A60C00;
}

hgroup.meet-aalam h4{
    font-family:"League-Gothic","Georgia","Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size :1.8em ;
    color:silver;
    text-shadow:1px 1px 1px grey;
    font-weight:normal;
}
hgroup.meet-aalam strong{
  color : white;
}
hgroup.meet-aalam .symbol{
  font-family:"Alegreya-Regular","Georgia","Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color : silver ;
  font-weight:normal;
  text-shadow:none;
  text-transform:none;
}

